<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Supermarket</title>
    <style type="text/css">
        @@font-face {
            font-family: 'Lobster';
            src: url(/fonts/Lobster-Regular.ttf);
        }

        @@font-face {
            font-family: 'Roboto';
            src: url(/fonts/Roboto-Regular.ttf);
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @{
            Html.RenderPartial("_HeaderNavBar");
        }
    </header>

    <main class="body-content">
        @RenderBody()
    </main>
    <br />
    <footer class="footer page-footer navbar-dark bg-dark">
        <div class="footer-copyright text-center py-3 bg-dark text-white">
            © @DateTime.Now.Year Copyright:
            <a href="#">  Supermarket</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
