@model Supermarket.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

    </dl>
    <div>
        <input type="number" value=1 min=1 id="qty" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="addtocart" type="submit" value="add to cart" class="btn btn-default btn-outline-success" />
            </div>
        </div>
        <p class="button">
            @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.productID }, "")
        </p>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
