@model IEnumerable<Supermarket.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "AddCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage.imageName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage.imageName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategory", new { id = item.categoryID }) |
                @Html.ActionLink("Delete", "DeleteCategory", new { id = item.categoryID })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("go back", "Index")
