
@{
    ViewBag.Title = "Admin Home Page";
}

<h1>Admin Home Page:</h1>
<br />
@Html.ActionLink("Products", "Products") |
@Html.ActionLink("Out of stock", "OutofStock")
<br />
@Html.ActionLink("Categories", "Categories")
<br />
@Html.ActionLink("Users", "Users")
<br />
@Html.ActionLink("Order History", "Orders")
<br />
@Html.ActionLink("Create a new Admin", "NewAdmin")


