@model PagedList.IPagedList<Supermarket.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Products";
}

<h1>Products:</h1>
@using (Html.BeginForm("Products", "Manager", FormMethod.Get))
{
    <div class="row align-items-center">
        <p class="p-2">@Html.TextBox("SearchString", ViewBag.CurrentFilterO as string)</p>
        <p class="p-2">@Html.DropDownList("category", null, "ללא קטגוריה", htmlAttributes: new { @class = "form-control", id = "currentCategory", name = "currentCategory", dir = "rtl" })</p>
        <p class="p-2"><input type="submit" value="Filter" /></p>
        <p class="p-2">@Html.ActionLink("Clear", "Products")</p>
    </div>
}

@if (ViewBag.currentFilter != null)
{
    <br />
    <h4>results for: "@ViewBag.currentFilterO"</h4>
    <br />
}

<p>
    @Html.ActionLink("Create a new product", "AddProduct")
</p>
<table class="table table-bordered">
    <tr class="thead-light">
        <th>
            @Html.ActionLink("Name", "Products", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilterO, category = ViewBag.CurrentCategory })
        </th>
        <th>
            @Html.ActionLink("Price", "Products", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilterO, category = ViewBag.CurrentCategory })
        </th>
        <th>
            @Html.ActionLink("Stock", "Products", new { sortOrder = ViewBag.StockSortParm, currentFilter = ViewBag.CurrentFilterO, category = ViewBag.CurrentCategory })
        </th>
        <th>
            Category
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category1.categoryName)
            </td>
            <td>
                <a href="@Url.Action("Product", "Store", new { id = item.productID })">
                    <div style="height:180px; width:180px;">
                        <img src="~/Content/productImages/@item.ProductImage.imageName" alt="@item.ProductImage.imageName" style="max-width: 100%; max-height: 100%;" />
                    </div>
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = item.productID }) |
                @Html.ActionLink("Add Stock", "AddStock", new { id = item.productID }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.productID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

<div class="pagination-center">
    @Html.PagedListPager(Model, page => Url.Action("Products",
    new
        {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilterO,
        category = ViewBag.CurrentCategory
        }),
    PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
<p class="p-2">
    @Html.ActionLink("go back", "Index")
</p>
