@model Supermarket.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1>Register</h1>
        <hr />
        <h4 class="text-danger">@ViewBag.message</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group form-field">
                @Html.LabelFor(model => model.User.firstName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.User.firstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.firstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group form-field">
                @Html.LabelFor(model => model.User.lastName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.User.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.lastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-field">
            @Html.LabelFor(model => model.User.emailAddress, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.User.emailAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.emailAddress, "", new { @class = "text-danger" })
        </div>

        <div class="form-group form-field">
            @Html.LabelFor(model => model.User.phone, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.User.phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.phone, "", new { @class = "text-danger" })
        </div>

        <div class="row">
            <div class="form-group form-field">
                @Html.LabelFor(model => model.User.addressCity, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.User.addressCity, new { htmlAttributes = new { @class = "form-control text-form-editor" } })
                @Html.ValidationMessageFor(model => model.User.addressCity, "", new { @class = "text-danger" })
            </div>
            <div class="form-group form-field">
                @Html.LabelFor(model => model.User.addressStreet, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.User.addressStreet, new { htmlAttributes = new { @class = "form-control text-form-editor" } })
                @Html.ValidationMessageFor(model => model.User.addressStreet, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group form-field">
                @Html.LabelFor(model => model.User.addressHouse, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.User.addressHouse, new { htmlAttributes = new { @class = "form-control number-form-editor", min = 0, max = 500 } })
                @Html.ValidationMessageFor(model => model.User.addressHouse, "", new { @class = "text-danger" })
            </div>
            <div class="form-group form-field">
                @Html.LabelFor(model => model.User.addressFloor, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.User.addressFloor, new { htmlAttributes = new { @class = "form-control number-form-editor", min = 0, max = 100 } })
                @Html.ValidationMessageFor(model => model.User.addressFloor, "", new { @class = "text-danger" })
            </div>
            <div class="form-group form-field">
                @Html.LabelFor(model => model.User.addressApartment, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.User.addressApartment, new { htmlAttributes = new { @class = "form-control number-form-editor", min = 0, max = 400 } })
                @Html.ValidationMessageFor(model => model.User.addressApartment, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group form-field">
            @Html.LabelFor(model => model.User.addressZip, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.User.addressZip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.addressZip, "", new { @class = "text-danger" })
        </div>

        <div class="form-group form-field">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
            @Html.PasswordFor(model => model.password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group form-field">
            @Html.LabelFor(model => model.password_conf, htmlAttributes: new { @class = "control-label" })
            @Html.PasswordFor(model => model.password_conf, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.password_conf, "", new { @class = "text-danger" })
        </div>

        <div class="form-group form-field">
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Register</button>
            @Html.ActionLink("Login here", "Login")
        </div>
    </div>
}
<br />