@model PagedList.IPagedList<Supermarket.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Store";
}

<h1>Products:</h1>
@using (Html.BeginForm("Index", "Store", FormMethod.Get))
{
    <div class="row align-items-center">
        @Html.Hidden("SearchString", ViewBag.CurrentFilter as string)
        <p class="p-2">@Html.DropDownList("category", null, "ללא קטגוריה", htmlAttributes: new { @class = "form-control", id = "currentCategory", name = "currentCategory", dir = "rtl" })</p>
        <p class="p-2"><input type="submit" value="Filter" /></p>
        <p class="p-2">@Html.ActionLink("Clear", "Index")</p>
    </div>
}
@if (ViewBag.currentFilter != null)
{
    <h4>results for: "@ViewBag.currentFilter"</h4>
    <br />
}
<div>
    <h5>Sort: </h5>
    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, category = ViewBag.CurrentCategory }) |
    @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter, category = ViewBag.CurrentCategory }) |
    @Html.ActionLink("Stock", "Index", new { sortOrder = ViewBag.StockSortParm, currentFilter = ViewBag.CurrentFilter, category = ViewBag.CurrentCategory })

</div>
<br />
<div class="row">
    
    @foreach (var item in Model)
    {
    <div class="col-sm-6 col-lg-3">
        <div class="card" style="padding: 20px; margin-bottom: 30px;">
            <a href="@Url.Action("Product","Store", new { id = item.productID })">
                <img alt="@item.ProductImage.imageName" class="img-fluid" src="~/Content/productImages/@item.ProductImage.imageName" style=" width: 100%; height: 200px; object-fit:contain;" />
            </a>
            <div class="card-block">
                <br />
                <h4 align="right" class="card-title">@item.name</h4>
                <p align="right" class="card-text">@item.Category1.categoryName</p>
                <p align="left" class="card-subtitle">@string.Format("{0:0.00}", item.price) ₪</p>
            </div>
        </div>
    </div>
    }
</div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    <div class="pagination-center">
        @Html.PagedListPager(Model, page => Url.Action("Index",
        new
            {
            page,
            sortOrder = ViewBag.CurrentSort,
            currentFilter = ViewBag.CurrentFilter,
            category = ViewBag.CurrentCategory
            }),
        PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
